"*":
  "atom-beautify":
    _analyticsUserId: "example"
    general:
      _analyticsUserId: "example"
  "autocomplete-paths":
    maxFileCount: 5000
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "autocomplete-paths"
      "vim-mode-plus"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    titleBar: "hidden"
  editor:
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
  "exception-reporting":
    userId: "example"
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
    userToken: "example"
  "git-blame":
    columnWidth: 273
  "linter-ui-default":
    showPanel: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#6972f8"
        red: "#c91b00"
      zBright:
        brightBlue: "#6972f8"
        brightRed: "#c91b00"
    style: {}
  rspec:
    command: "bin/rspec"
  "ruby-test":
    rspecAllCommand: "bin/rspec --tty spec"
    rspecFileCommand: "bin/rspec --tty {relative_path}"
    rspecSingleCommand: "bin/rspec --tty {relative_path}:{line_number}"
    shell: "zsh"
    specFramework: "rspec"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".slim.text":
  editor:
    preferredLineLength: 110
