packages: [
  "atom-beautify"  
  "autocomplete-paths"
  "change-case"
  "gemsource"
  "gist-it"
  "language-cjsx"
  "language-haml"
  "linter"
  "linter-scss-lint"
  "merge-conflicts"
  "meteor-snippets"
  "multi-cursor"
  "package-sync"
  "pigments"
  "rspec"
  "ruby-slim"
  "sort-lines"
  "tablr"
  "trailing-spaces"
]
