packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-prettify"
  "atom-spec-finder"
  "atomic-emacs"
  "autocomplete-paths"
  "busy-signal"
  "change-case"
  "gemsource"
  "git-blame"
  "goto-definition"
  "intentions"
  "language-cjsx"
  "language-haml"
  "language-slim"
  "linter"
  "linter-coffeelint"
  "linter-ui-default"
  "multi-cursor"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "ruby-slim"
  "ruby-test"
  "sort-lines"
  "svg-preview"
  "trailing-spaces"
  "vim-mode-plus"
]
